<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hadly.dal.mapper.InstInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hadly.dal.model.InstInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="instCd" property="instcd" jdbcType="VARCHAR" />
    <result column="instId" property="instid" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, instCd, instId, url, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from inst_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from inst_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hadly.dal.model.InstInfo" >
    insert into inst_info (id, instCd, instId, 
      url, createTime, updateTime
      )
    values (#{id,jdbcType=BIGINT}, #{instcd,jdbcType=VARCHAR}, #{instid,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hadly.dal.model.InstInfo" >
    insert into inst_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="instcd != null" >
        instCd,
      </if>
      <if test="instid != null" >
        instId,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="instcd != null" >
        #{instcd,jdbcType=VARCHAR},
      </if>
      <if test="instid != null" >
        #{instid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hadly.dal.model.InstInfo" >
    update inst_info
    <set >
      <if test="instcd != null" >
        instCd = #{instcd,jdbcType=VARCHAR},
      </if>
      <if test="instid != null" >
        instId = #{instid,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hadly.dal.model.InstInfo" >
    update inst_info
    set instCd = #{instcd,jdbcType=VARCHAR},
      instId = #{instid,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>